* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Search-bar-container {
  padding: 20vh;
  width: 40;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}
.App {
  background: #eee;
  width: 100vw;
  height: 100vh;
}
